/*
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
    GENERAL
*/


.container {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.round-image {
    border-radius: 50%;
}


/*
    HEADER 
*/
header  {
    display: flex;
    justify-content: end;
    align-items: center;
}

header div {
    text-align: right;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 20px;
}



/*
    WRAPPER
*/

#wrapper {
    height: calc(100vh - 100px);
    display: flex;
}

#wrapper aside {
    width: 200px;
}

#wrapper main {
    background-color: #121212;
    width: calc(100% - 200px);
    height: 100%;
    flex-grow: 1;
}

#wrapper main header {
    background-color: #2c28287a;
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
}

#wrapper main nav {
    color: white;
}

#wrapper main #music {
    height: 100%;
    padding-top: 80px;
    overflow: auto;
}

#wrapper main .card > * {
    text-align: center;
}

#wrapper main h2 {
    color: white;
}

#wrapper main h3 {
    color: white;
} 
#wrapper main h4 {
    color: rgb(170, 170, 170);
    padding-top: 5px;
    font-size: smaller;
}

/*
    MUSIC SECTION
*/

#music {
    padding: 0 20px
}

#music nav ul {
    display: flex;
    justify-content: center;
    list-style: none; 
    margin: 20px 0;
    gap: 40px;
}

#music .row {
    margin: 0 -10px;
}

#music .row .card {
    width: calc((100% / 6) - 20px);
    padding: 15px;
    margin: 0 10px;
}


/*
    FOOTER
*/


footer{
    background-color: #222222;
    min-height: 100px;
}

footer.left, footer .left .song {
    display: flex;
}


footer, footer > *, footer > .left > .song ,footer > .central > *, footer > .right > *{
    display: flex;
}

footer > *, footer > .left > .song, footer > .central > *{
    align-items: center;
}

footer{
    justify-content: space-between;
}

footer > .right{
    justify-content: flex-end;
}

footer > .left, .debug footer > .right{
    padding: 0 var(--padding-general);
    width: 25%;
}

footer > .left > .song{
    margin-right: 20px;
}

footer > .left a{
    color: gray;
    text-decoration: none;
}

footer > .left{
    justify-content: flex-start;
}

footer > .left a > h4{
    color: white;
}

footer > .left img{
    max-width: 80px;
    width: 50%;
    margin-right: 20px;
}

footer > .left > div > i{
    color: gray;
    padding: calc(var(--padding-general) /2);
}

footer > .central{
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
}

footer > .central > *{
    width: 100%;
    height: 50%;
}
footer > .central > .command{
    justify-content: center;
    padding: calc(var(--padding-general) / 2);
}

footer > .central > .command > button{
    font-size: 1.1rem;
    cursor: pointer;
}

footer > .central > .command > button, footer > .right > button{
    background-color: transparent;
    border: none;
    color: white;
    padding: calc(var(--padding-general) / 2);
    cursor: pointer;
}

footer > .central > .command > #play{
    font-size: 2rem;
}

footer > .central .track{
    justify-content: space-between;
    padding-bottom: 50px;
}

footer > .central .track > span{
    padding: 0 5px;
    font-size: 0.8rem;
    color: white;
    display: block;
}

footer .full-track, footer .full-volume{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 5px;
    background-color: gray;
}

footer .full-track{
    width: 90%;
}

footer .full-track > .progressiv-track{
    height: 5px;
    background-color: white;
    animation: slider 30s linear infinite;
}



@keyframes slider {
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}

footer  .full-volume{
    width: 50%;
    min-width: 50px;
    margin-left: 10px;
}

footer .full-volume > .progressiv-volume{
    height: 5px;
    background-color: white;
    width: 20%;
}

footer .switch-dot{
    position: absolute;
    cursor: pointer;
    padding: 5px;
    right: 80%;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
}

footer .central .switch-dot{
    animation: dot-slider 30s linear infinite
}

@keyframes dot-slider{
    0%{
        right: 100%;
    }

    100%{
        right: 0%;
    }
}

/* HOVER - FOOTER */

.playlist i:hover{
    background-color: white;
}

.playlist > a:hover{
    color:white;
}

footer > .central > .command > #play:hover{
    transform: scale(1.1);
}

footer .full-track > .progressiv-track:hover, footer .full-volume > .progressiv-volume:hover{
    background-color: #bdff30;
}

footer .switch-dot:hover footer .full-track > .progressiv-track{
    background-color: #bdff30;
}

footer > .left .song a:hover {
    text-decoration: underline;
    color: white;
}

footer > .left .action i:hover{
    color: white;
}

/*
    MEDIA QUERIES
*/

@media screen and (max-width:1100px){
    #music .row .card {
        width: calc((100% / 4) - 20px);
    }
}

@media screen and (max-width:700px) {
    #music .row .card {
        width: calc((100% / 2) - 20px);
    }
}

@media screen and (max-width:600px) {
    #wrapper aside {
        width: 100px;
    }   
    #wrapper main,
    #wrapper header {
        width: calc(100% - 100px);
    }
}  

/*
    DEBUG
*/

#wrapper aside {
    background-color: green;
    border: 2px dashed orange;
}
